.footer {
  min-height: max(668px, 100vh);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color-elements, #FF0070);
  border-right: 1px solid var(--accent-color-elements, #FF0070);
  top: var(--global-padding, 20px);
  right: var(--global-padding, 20px);
}

.footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color-elements, #FF0070);
  border-left: 1px solid var(--accent-color-elements, #FF0070);
  bottom: var(--global-padding, 20px);
  left: var(--global-padding, 20px);
}

.footer__title {
  text-align: center;
  color: var(--tittle-color, #DB00FF);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (width <= 375px) {
  .footer {
    margin-top: 10px;
    padding: var(--global-padding, 20px) var(--global-padding, 20px) var(--global-padding, 20px) var(--global-padding, 20px);
  }
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}