/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color, #FFC2E6);
  background-image: url("../images/cover-image-dark.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-decor {
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
}